<div class="my-content">
	<md-grid-list cols="3">
		<md-grid-tile>
		<!-- <div style="display: flex; flex-wrap: wrap; justify-content: space-around;"> -->
			<md-card class="chart-card">
				<md-card-title>Chart 1</md-card-title>
				<div md-card-image>
					<infocomm-revenue-component></infocomm-revenue-component>
				</div>
			</md-card>
			<!-- <md-card class="chart-card">
				<md-card-title>Chart here</md-card-title>
				<div md-card-image [style.background]="'grey'">
					<infocomm-revenue-component></infocomm-revenue-component>
				</div>
			</md-card> -->
		<!-- </div> -->
		</md-grid-tile>
		<md-grid-tile>
			<md-card class="chart-card">
				<md-card-title>Chart 2</md-card-title>
				<div md-card-image>
					<infocomm-revenue-component></infocomm-revenue-component>
				</div>
			</md-card>
		</md-grid-tile>
	</md-grid-list>
</div>