:host {
	width: 100%;
	display:block;
}

:host .axis path,
:host .axis line {
	fill: none;
	stroke: black;
	color: black;
	shape-rendering: crispEdges;
}

:host .axis text {
	font-size: 11px;
	fill: rgba(0, 0, 0, 0.9);
}

:host .grid .tick {
	stroke: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

:host .grid path {
	stroke-width: 0;
}

:host .color-label{
	display: inline;
}